<div class="testimonial-v3"><!-- testimonial -->
<% @randon_feedbacks&.each do |feedback| %>
  <div class="col-md-6 col-sm-12">
    <div class="well-bg">
      <div class="well-inner">
        <div class="testimonial-v3-caption">
          <p><%= sanitize( feedback.text.truncate(235, omission: "#{link_to "... Reed more", feedback_path(feedback)}" )) %></p>
        </div>
      </div>
      <div class="testimonial-v3-author">
        <div class="testimonial-v3-img"><%= image_tag(feedback.user.avatar.url, alt: 'Avatar',
             style: 'height: 75px;') if feedback.user.avatar? %>
           </div>
        <h3 class="testimonial-v3-name"><%= feedback.user.full_name%></h3>
        <span class="testimonial-v3-meta"><%= feedback.title.truncate(50, omission: "...") %></span> </div>
    </div>
  </div>
<% end %>
</div>
