
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-widget  col-sm-6"> <img src="/assets/footer-logo.png" alt="">
        <p>We strive to help people by providing extraordinary service and expert repairs using only the highest quality parts available.</p>
        <p>We service all the newest and <strong class="text-highlight">popular mobile phones, tablets and laptops.</strong> natis sed id nisl magna auris et neque sollicitudin ullamcorper fusce molestie felis mi id.Vestibulum venenatis sed id nisl magna suspendisse a mauris. </p>
      </div>
      <div class="col-md-3 footer-widget col-sm-6">
        <h3 class="footer-widget-title">contact us</h3>
        <p>195 bulv. Shevchenko, Cherkassy Ukraine.
        Entrance to "Kyivstar" near "Rubin"</p>
          <p>Monday - Friday: 9am - 7pm
            Saturday: 10am - 3pm <br>
            <p>Office: 0208 543 7088 <br>
              Mobile: 0 778 35 166 93</p>
            </div>

            <div class="col-md-3 footer-widget col-sm-5">
              <h3 class="footer-widget-title">Get A Repair Started</h3>
              <ul class="listnone circle">
                <li><a href="/pages/pc-mac">PC and IMAC Repair</a></li>
                <li><a href="/pages/laptop">Laptop Repair</a></li>
                <li><a href="/pages/phone">Smart Phone Repair</a></li>
                <li><a href="/pages/tablet">Tablet Repair</a></li>
                <li><a href="/pages/console">Console Repair</a></li>
                <li><a href="/pages/data-recovery">Data Recovery</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="tiny-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <p class="copyright-text">Copyright © 2019 TechnoDoctor</p>
            </div>
          </div>
        </div>
      </div>
      <!-- back to top icon -->
      <a href="home#0" class="cd-top" title="Go to top">Top</a>

      <script type="text/javascript">
      $("#navigation").menumaker({
        title: "Menu",
        format: "multitoggle"
      });
      </script>

      <script type="text/javascript">
      //jQuery to collapse the navbar on scroll
      $(window).scroll(function() {
        if ($(".header-transparent").offset().top > 50) {
          $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
          $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
      });
      </script>
