<%= form_with model: [ main_parent, parent, children ], local: true do |form| %>

<div class="row column-block">
     <div class="col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6">
          <%= form.text_field :description , class: 'input-block-level', placeholder: "#{pl_text}" %>

          <%= form.text_field :price , class: 'input-block-level', placeholder: "#{extra_text}" unless extra_text.empty? %>
        </div>
        <%#= form.label :name %>
          <div class="col-md-6 col-sm-6">
                 <div class="actions">
                   <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                  <% end %>

                </div>
          </div>
          </div>
        </div>

<% end %>
