<%= render partial: '/pages/header', :locals => { text: "New Customer" } %>
<div class="main-content">
  <!-- main container -->
  <div class="container content">
    <div class="row">
      <div class="col-md-6 pricing-block col-sm-12 col-md-offset-3">
        <!-- pricing block -->

        <div class="well-bg">
          <div class="well-inner">
            <%= render '/customers/form' %>
          </div>
        </div>
        <!-- /.pricing block -->
      </div>
    </div>
  </div>
</div>
