<div class="section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 section-title">
        <h1>Why Choose TechnoDoctor Repairs?</h1>
        <p>Explore new ways to see what’s working and fix what’s not. Vivamus sed finibus nulla.
          Suspendisse ac ex sed sem consequat pellentesque ain nulla.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 feature col-sm-4">
        <div class="feature-icon"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Free Diagnostics</h3>
          <p>Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc volutpat ullamcorper.</p>
        </div>
      </div>
      <div class="col-md-4 feature col-sm-4">
        <div class="feature-icon"><i class="fa fa-gear" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Quick Repair Process</h3>
          <p>Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc volutpat ullamcorper.</p>
        </div>
      </div>
      <div class="col-md-4 feature col-sm-4">
        <div class="feature-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>90-Day Warranty</h3>
          <p>Nam elementum ullamcorper tristique. trum finibus usce egestas justo eget nunc volutpat ullamcorper.</p>
        </div>
      </div>
    </div>
  </div>
</div>
