<%= render partial: 'header', :locals => { text: "Console Repair" } %>
<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6"> <img src="/assets/service-side-6.jpg" alt="" class="img-responsive"> </div>
        <div class="col-md-6 col-sm-6">
          <h1>Console stopped working? Don't despair! </h1>
          <p>Has your gaming life come to a halt because of faulty equipment? Let us help you with video game console repair. Our technicians can locate the problem with your <strong class="text-highlight">Playstation, Xbox, or Nintendo</strong> and get it ready for your next gaming adventure. </p>
          <p>Why try and troubleshoot the problem with your console? Getting console repair has never been easier no more guessing what the problem is or trying to repair it yourself Regardless of your console model, we offer affordable repair service you can rely on.</p>
          <p>We understand that you like to play as hard as you work, and your competitive spirit needs the next challenge that your game console has to offer. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-space section-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h3>Console Repair &amp; Services We Can Provide</h3>
          <p>We quickly diagnose problems and make repairs so that you’re back to gaming as soon as possible. </p>
          <ul class="listnone circle">
            <li>Hard drive Repair / Replacement</li>
            <li>Diagnostic Service</li>
            <li>Disc Drive Repair</li>
            <li>Hard drive Repair / Replacement</li>
            <li>Diagnostic Service</li>
            <li>Disc Drive Repair</li>
          </ul>
        </div>
        <div class="col-md-offset-1 col-md-5 col-sm-6"> <img src="/assets/console-side.png" alt="" class="img-responsive"> </div>
      </div>
    </div>
  </div>
<%= render partial: 'why_choose' %>
</div>
<!-- /.main container -->
