<%= render partial: 'header', :locals => { text: "Data Recovery" } %>

<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6"> <img src="/assets/service-side-5.jpg" alt="" class="img-responsive"> </div>
        <div class="col-md-7 col-sm-6">
          <h1>Lost Your Data? Don’t Panic : Not All Is Lost</h1>
          <p class="lead">Sometimes computers can seriously malfunction causing massive disruption to emails, critical system files, database and user data files your company or personal information and files. </p>
          <p>In some cases, even when files are simply accidentally deleted, it may be possible to recover the files, but quick and professional action is needed. It is critical not the use or write to the device as soon as you suspect data loss.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-space section-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h3>Retrieving valuable files and photos</h3>
          <p>It is still likely that we can still retrieve your valuable files and valuable family photographs for you lorem ipsums sitamets. </p>
          <h3>System &amp; data recovery</h3>
          <p>It depends on how damaged your hard drive is as to whether we can successfully retrieve your data from it.</p>
          <a href="/pages/data-recovery#" class="btn btn-default">Get Repair Start</a> </div>
        <div class="col-md-offset-1 col-md-5 col-sm-6">
          <h2>iMac Repair Service</h2>
          <p>Pellentesque quis facilisis neesent ultrices quis ante vitae tincidunt Vivamus pretium nibhnec.</p>
          <ul class="listnone circle">
             <li>Computer Dead – HHD Recovery </li>
              <li>Hard Drive Recovery – Hard Drive Failure</li>
              <li>Hard Drive Data Recovery Diagnostic Fee</li>
              <li>External Hard Drive Data Recovery</li>
              <li>Last Resort for HDD Recovery</li>
              <li>USB, Flash Memory Card recovery</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section-space">
  <%= render partial: 'why_choose' %>
</div>
<!-- /.main container -->
