
<div class="slider">
  <div>
    <div class="slider-img"><img src="/assets/slider-large-1.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="slider-captions">
          <h1 class="slider-title">Any Computer Problems ?</h1>
          <p class="slider-text">We offer repair many different types of devices including computers, smartphones, tablets, gaming consoles etc...</p>
          <a href="service-listing-image.html" class="btn btn-default">View Service</a> </div>
      </div>
    </div>
  </div>
  <div>
    <div class="slider-img"><img src="/assets/slider-large-2.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="slider-captions">
          <h1 class="slider-title">Store for a Quick Repair.</h1>
          <p class="slider-text">Bring or send your phone, laptop, game console computer or tablet to the Store for a quick repair.</p>
          <a href="about-us" class="btn btn-default">Find Locations</a> </div>
      </div>
    </div>
  </div>
  <div>
    <div class="slider-img"><img src="/assets/slider-large-3.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="slider-captions">
          <h1 class="slider-title">Receive Instant Service!</h1>
          <p class="slider-text">We offer repair many different types of devices including computers, smartphones, tablets, gaming consoles etc...</p>
          <a href="repair-team.html" class="btn btn-default">Meet The Team</a> </div>
      </div>
    </div>
  </div>
</div>

<% if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert alert-danger" role="alert"><%= alert %></p>
<% end %>
<%#= render 'shared/flashes' %>
<div class="section-space">
  <div class="container">


    <div class="row">
      <div class="col-md-offset-1 col-md-10 section-title"><!-- section title -->
        <h1>Get Your Repair Started</h1>
        <p>Explore new ways to see what’s working and fix what’s not. Vivamus sed finibus nulla.
          Suspendisse ac ex sed sem consequat pellentesque ain nulla.</p>
      </div>
      <!-- /.section title -->
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <div class="">
          <div class="row">
            <div class="col-md-4 service-block text-center col-sm-4"> <!-- service-block -->

              <div class="well-inner">
                <div class="service-img"><a href="/pages/pc-mac"><img src="/assets/service-pc-mac.jpg" alt="" class="img-responsive"></a></div>
                <h3><a href="/pages/pc-mac" class="heading-title">PC &amp; MAC Computers</a></h3>
                <p>We can organise a brand new pc &amp; mac,  if yours doesn’t pull.</p>
                <a href="/pages/pc-mac" class="btn-link">Read more</a> </div>
            </div>
            <!-- /.service-block -->
            <div class="col-md-4 service-block text-center col-sm-4"> <!-- service-block -->

              <div class="well-inner">
                <div class="service-img"><a href="/pages/laptop"><img src="/assets/service-laptop.jpg" alt="" class="img-responsive"></a></div>
                <h3><a href="/pages/laptop" class="heading-title">Laptop Repair</a></h3>
                <p>We are experts to fix all hardware &amp; software diagnosis of laptop.</p>
                <a href="/pages/laptop" class="btn-link">Read more</a> </div>
            </div>
            <!-- /.service-block -->
            <div class="col-md-4 service-block text-center col-sm-4"> <!-- service-block -->

              <div class="well-inner">
                <div class="service-img"><a href="/pages/phone-single-page.html"><img src="/assets/service-phone.jpg" alt="" class="img-responsive"></a></div>
                <h3><a href="/pages/phone-single-page.html" class="heading-title">Smartphone Repair</a></h3>
                <p>Our technicians are trained to fix a vast range of smartphone.</p>
                <a href="/pages/phone-single-page.html" class="btn-link">Read more</a> </div>
            </div>
            <!-- /.service-block -->
            <div class="col-md-4 service-block text-center col-sm-4"> <!-- service-block -->

              <div class="well-inner">
                <div class="service-img"><a href="/pages/tablet"><img src="/assets/service-tablet.jpg" alt="" class="img-responsive"></a></div>
                <h3><a href="/pages/tablet" class="heading-title">Tablet Repair</a></h3>
                <p>We can fix the problem quickly so that you can enjoy your tablet.</p>
                <a href="/pages/tablet" class="btn-link">Read more</a> </div>
            </div>
            <!-- /.service-block -->
            <div class="col-md-4 service-block text-center col-sm-4"> <!-- service-block -->

              <div class="well-inner">
                <div class="service-img"><a href="/pages/data-recovery"><img src="/assets/data-recovery-sidenav.jpg" alt="" class="img-responsive"></a></div>
                <h3><a href="/pages/data-recovery" class="heading-title">Data Recovery</a></h3>
                <p>In some case, We will be able to recover data at the ecinc.</p>
                <a href="data-recovery-single-page.html" class="btn-link">Read more</a> </div>
            </div>
            <!-- /.service-block -->
            <div class="col-md-4 service-block text-center col-sm-4"> <!-- service-block -->

              <div class="well-inner">
                <div class="service-img"><a href="/pages/console"><img src="/assets/console-service.jpg" alt="" class="img-responsive"></a></div>
                <h3><a href="/pages/console" class="heading-title">Console Repair</a></h3>
                <p>Our technicians can fix your console device and you play with it.</p>
                <a href="/pages/console" class="btn-link">Read more</a> </div>
            </div>
            <!-- /.service-block -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-space section-color">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 section-title col-sm-offset-2 col-sm-8">
        <h1>We are Repair Store</h1>
        <p>Explore new ways to see what’s working and fix what’s not. Vivamus sed finibus null uspendisse ac ex sed sem consequat pellentesque ain nulla.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 phone-img col-sm-offset-3 col-sm-6"><img src="/assets/about-image.png" alt="" class="img-responsive"></div>
    </div>
    <div class="row">
    <div class="col-md-4 feature text-center col-sm-4">
      <div class="feature-left">
        <div class="feature-icon"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Free Diagnostics</h3>
          <p>Welcome to TechnoDoctor digital center, once we help you to diagnose your device free.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 feature text-center col-sm-4">
      <div class="feature-left">
        <div class="feature-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Low Price Guarantee</h3>
          <p>It's our goal to provide you with the lowest possible price. Get your service with lowest price.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 feature text-center col-sm-4">
      <div class="feature-left">
        <div class="feature-icon"><i class="fa fa-gear" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Quick Repair Process</h3>
          <p>We have over a 5 years long track record of provide fast, affordable and repair services.</p>
        </div>
      </div>
    </div>

  </div>

  </div>
</div>


<div class="section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 section-title">
        <h1>What Customer are Says</h1>
        <p>Please look through our testimonials to get a better understanding
          of our affordable services.</p>
      </div>
    </div>
    <div class="row">
      <div class="testimonial-v3"><!-- testimonial -->
        <div class="col-md-6 col-sm-12">
          <div class="well-bg">
            <div class="well-inner">
              <div class="testimonial-v3-caption">
                <p>"I was very impressed by the service I received from TechnoDoctor. They were knowledgeable and
                  honest about what to expect from them.
                  I think they take<strong class="text-highlight"> pride in their results and so give a hundred percent</strong>."</p>
              </div>
            </div>
            <div class="testimonial-v3-author">
              <div class="testimonial-v3-img"><img src="/assets/testimonial-pic.jpg" alt=""></div>
              <h3 class="testimonial-v3-name">Margaret Grimes</h3>
              <span class="testimonial-v3-meta">iPhone Repair service</span> </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="well-bg">
            <div class="well-inner">
              <div class="testimonial-v3-caption">
                <p>"I was very impressed by the service I received from TechnoDoctor. They were <strong class="text-highlight">knowledgeable and
                  honest</strong> about what to expect from them.
                  I think they take pride in their results and so give a hundred percent."</p>
              </div>
            </div>
            <div class="testimonial-v3-author">
              <div class="testimonial-v3-img"><img src="/assets/testimonial-pic-2.jpg" alt=""></div>
              <h3 class="testimonial-v3-name">Margaret Grimes</h3>
              <span class="testimonial-v3-meta">iPhone Repair service</span> </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="well-bg">
            <div class="well-inner">
              <div class="testimonial-v3-caption">
                <p>"I was very impressed by the service I received from TechnoDoctor. They were knowledgeable and
                  honest about what to expect from them.
                  I think they take pride in their results and so give a hundred percent."</p>
              </div>
            </div>
            <div class="testimonial-v3-author">
              <div class="testimonial-v3-img"><img src="/assets/testimonial-pic.jpg" alt=""></div>
              <h3 class="testimonial-v3-name">Margaret Grimes</h3>
              <span class="testimonial-v3-meta">iPhone Repair service</span> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title">
        <h1>We work with every brand</h1>
        <p>We work on almost all of the more popular brands. We are the <strong class="text-highlight">#1 digital device repair</strong> shop in Country</p>
      </div>
    </div>
    <div class="row client-logo">
      <div class="col-md-2 col-sm-4 col-xs-6"><img src="/assets/logo-1.png" alt=""></a></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><img src="/assets/logo-2.png" alt=""></a></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><img src="/assets/logo-3.png" alt=""></a></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><img src="/assets/logo-4.png" alt=""></a></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><img src="/assets/logo-5.png" alt=""></a></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><img src="/assets/logo-2.png" alt=""></a></div>
    </div>
  </div>
</div>
