<%= render partial: 'header', :locals => { text: "Laptop Service" } %>
<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container">
     <div class="row">
        <div class="col-md-5 col-sm-6"> <img src="/assets/service-side-4.jpg" alt="" class="img-responsive"> </div>
        <div class="col-md-offset-1 col-md-6 col-sm-6">
          <h1>Need Fast Laptop and Hardware Repairs?</h1>
          <p>Laptops can come in all different shapes and sizes. From timid, but reliable business tools to crazy computing power that would rival most supercomputers only about half a decade ago psums necerat in ultrices aesent vestibulum sapien in molestie.</p>
          <p>We'll make your laptop run as fast and smoothly as possible. ... For laptop repair we have highly skilled full-time laptop hardware techs who can fix all types lorem ipsums sitamets democes.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="section-space section-color">
    <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 section-title">
        <h1>Our Hardware &amp; Laptop Repair Services</h1>
        <p>Our commitment to world class customer service has made us the most respected .Our firm has gained expertise by rendering high quality laptop Repairing.</p>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">

            <h2>Included Service</h2>
            <ul class="listnone circle mb0">
              <li>LCD Display Panel</li>
              <li>Keyboard Replacement</li>
              <li>Laptop water damage</li>
              <li>Battery Replacement </li>
               <li>Charger Repair</li>
            </ul>

        </div>

        <div class="col-md-3 col-sm-4">

          <h2>Included Service</h2>
            <ul class="listnone circle mb0">
              <li>Laptop data recovery </li>
              <li>Water damaged</li>
              <li>Motherboard Repair</li>
              <li>Battery Replacement</li>
              <li>Cracked hinges or Panels</li>

            </ul>

        </div>
        <div class="col-md-5 col-sm-4"> <img src="/assets/laptop-side.png" alt="" class="img-responsive"> </div>
      </div>
    </div>
  </div>
<%= render partial: 'why_choose' %>
</div>
<!-- /.main container -->
