<%= render partial: 'header', :locals => { text: "We Can Fix Your Pc and iMac" } %>
<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6"> <img src="/assets/service-side.jpg" alt="" class="img-responsive"> </div>
        <div class="col-md-7 col-sm-6">
          <h1>We Can Fix Your Pc &amp; iMac</h1>
          <p class="lead">The computer is your home's command central. Whether your looking to set up, repair your machine, we've got the know-how, tools and dedication to get the job done. </p>
          <p>Many of our local PC Doctors know Apples and iMac inside out, and they can come to your home or business to cure any problems that you might be having with your equipment.</p>
          <p>In case any another kind of issue surfaced at your PC's screen simply use our contact form to
            get in touch with us and we will give you evaluation on the cost of repair.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-space section-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h2>Pc Repair Service</h2>
          <p>Sretium eleifenneque ultricesmion maximus sceleris its
            busd feug eifenu nisonec pretium interdu.</p>
          <ul class="listnone circle">
            <li>Virus/Spyware Removal </li>
            <li>Battery Replacement </li>
            <li>Diagnostics </li>
            <li>LCD Screen Repair</li>
            <li>Memory Upgrade/Replacement</li>
            <li>Water Damage Repair/Diagnostics</li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6">
          <h2>iMac Repair Service</h2>
          <p>Pellentesque quis facilisis neesent ultrices quis ante vitae tincidunt Vivamus pretium nibhnec.</p>
          <ul class="listnone circle">
            <li>iMac Diagnostic Service</li>
            <li>iMac Water Damage Repair</li>
            <li>Memory Upgrade</li>
            <li>iMac Hardrive Repair</li>
            <li>iMac LCD Screen Repair</li>
            <li>Spinning Beach-Ball / Cursor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'why_choose' %>
</div>
<!-- /.main container -->
