<%= render partial: 'header', :locals => { text: "Tablet Service" } %>
<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 section-title">
          <h1>We Can Fix Your Tablet</h1>
          <p class="lead">It’s easy to fall in love with your tablet, as it offers the perfect combination of size and function. Whether you use it for work your tablet is a handy companion that is easy to take with you.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-space section-color">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="well-inner">
            <h2>Included Service</h2>
            <ul class="listnone circle mb0">
              <li>Glass &amp; LCD Replacement </li>
              <li>Charge Port Repair</li>
              <li>Tablet Diagnosis</li>
              <li>Device Setup</li>
              <li>Broken Digitizers</li>
              <li>Camera Replacement</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4"> <img src="/assets/service-side-3.png" alt="" class="img-responsive"> </div>
        <div class="col-md-4 col-sm-4">
          <div class="well-inner">
            <ul class="listnone circle mb0">
              <li>Table Screen Touch issue</li>
              <li>Water damaged</li>
              <li>Mobile Connection</li>
              <li>Battery Replacement</li>
              <li>Cracked Glass Replacement</li>
              <li>Headset Microphone</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: 'why_choose' %>
</div>
<!-- /.main container -->
