<%= render partial: 'pages/header', :locals => { text: "Editing Ticket" } %>
<div class="container">
  <%= render partial: 'form', ticket: @ticket %>


      <tr class="container-fluid pull-right">

              <td><%= link_to 'Back', tickets_path(@ticket), class: 'btn btn-default', data: { confirm: 'Are you sure?' } %></td>
      </tr>
</div>
