<%= render partial: 'pages/header', :locals => { text: "Editing Ticket" } %>
<div class="container">
  <div class="container">
    <div class="col-sm-9">
      <div class="well-bg">
        <div class="card-heading">
        <%#= form.label :name %>
  <%= render partial: 'form', ticket: @ticket %>


      <tr class="container-fluid pull-right">

      </tr>
    </div>
  </div>
</div>
</div>
</div>
