<%= render partial: 'pages/header', :locals => { text: "Tickets list" } %>

<div class="section-space"><!-- main container -->
  <div class="row">
      <div class="table-responsive">
      <div class="col-md-12 col-sm-12">

    <%= render partial: 'shared/ticket', :locals => { tickets: @tickets } unless @tickets.blank? %>
  </div>
  </div>
</div>
</div>
