<%= render partial: '/pages/header', :locals => { text: "Contact us" } %>
<%= render 'shared/flashes' %>
<div class="main-container">
  <!-- main container -->
  <div class="container">
    <div class="row">
      <div class="col-md-7 content col-sm-12">
        <!-- content -->
        <div class="row">
          <div class="col-md-12">
            <h1>Get In Touch With TechnoDoctor &trade;</h1>
            <p>Simply complete the enquiry form &amp; We will respond as soon as we can.</p>
          </div>
          <div class="col-md-12">
              <%=  render partial: 'form', :locals => { contact: @contact } %>
            </div>
          </div>
        </div>
        <!-- /.content -->
        <div class="col-md-offset-1 col-md-4 sidebar col-sm-12">
          <!-- sidebar -->
          <div class="row">
            <div class="col-md-12 widget col-sm-4">
              <div class="well-bg widget-address">
                <div class="well-inner"> <i class="fa fa-home"></i>
                  <h3>Address</h3>
                  <address>
                    195 bulv. Shevchenko
                    <br> Cherkassy,
                    <br> Ukraine.
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-12 widget col-sm-4">
              <div class="well-bg widget-schedule">
                <div class="well-inner"> <i class="fa fa-clock-o"></i>
                  <h3>Schedule</h3>
                  <ul class="listnone">
                    <li>Mon - Fri:<strong> 9am - 7pm</strong></li>
                    <li>Sat: <strong> 10am - 3pm</strong></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 widget col-sm-4">
              <div class="well-bg widget-phone">
                <div class="well-inner"> <i class="fa fa-phone"></i>
                  <h3>Phone</h3>
                  <ul class="listnone">
                    <li>Office: 8100-123-456</li>
                    <li>Mobile: 8100-456-789</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.sidebar -->
      </div>
    </div>
  </div>
  <!-- /.main container -->
